<div class="author">
  <h1 class="author_heading">Search Results</h1>
</div>

<section>
  <ul class="article-ul">
    <% data.forEach(blogs=> { %>

    <li>
      <a href="posts/<%= blogs.id %>">
        <span> <%= blogs.title %> </span>
        <span class="article-list-date">
          <%= blogs.createdAt.toDateString() %>
        </span>
      </a>
    </li>
    <% }) %>
  </ul>
</section>
